<app-header
  title="Video aulas"
  description="Aqui você pode encontrar vídeo aulas disponíveis"
  icon="pi pi-play-circle"
>
</app-header>

<div class="w-full p-2">

  <div class="grid">
    @for (video of videos; track $index) {
      <p-card class="field col-12">
        <ng-template #header>
          <iframe
            class="w-full h-15rem md:h-20rem lg:h-30rem border-round-xl"
            [src]="getSantizerUrl(video.url)"
            [title]="video.name"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen>
          </iframe>
        </ng-template>
        <ng-template #title>
          <p-divider></p-divider>
          {{video.name}}
        </ng-template>
        <ng-template #content>
          {{video.description}}
        </ng-template>
      </p-card>

    }
  </div>

</div>

