<div class="w-full p-2">
  <div class="w-full m-auto flex justify-content-center align-items-center my-3" style="height: 5rem;">
    <h1>{{header?.title ?? "Login Auth"}} <i [class]="(header?.icon ?? 'pi pi-lock') + ' text-3xl'"></i></h1>
  </div>

  <div class="fluid p-2 m-auto my-4 text-center" >

    @if (header?.subTitle) {
      <h3>{{header?.subTitle ?? "Bem vindo (a)" }}</h3>
    }

    <p>{{header?.description ?? 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla alias quaerat, et optio facere enim.'}}</p>
  </div>

    <p-divider></p-divider>
</div>
