@if (isForm && form) {
    <form [formGroup]="form">
        <div class="grid">
            <div class="field col-12 md:col-6">
                <label for="name">Nome:</label>
                <input type="text" pInputText id="name" formControlName="name" placeholder="Digite o nome do exemplo" fluid>
            </div>
            <div class="field col-12 md:col-6">
                <label for="description">Descrição:</label>
                <input type="text" pInputText id="description" formControlName="description" placeholder="Digite a descrição do exemplo" fluid>
            </div>
            <div class="field col-12 md:col-6">
                <label for="age">Idade:</label>
                <p-input-number id="age" inputId="age" formControlName="age" placeholder="Digite a idade do exemplo" suffix=" anos" fluid></p-input-number>
            </div>
        </div>
    </form>
}