<p-breadcrumb [model]="items"></p-breadcrumb>

<div class="w-full m-auto" style="max-width: 80rem;">
    <div class="w-full p-2 text-center">
        <h1>Login Auth <i class="pi pi-lock text-3xl"></i></h1>
        <p>Crie seu sistema a partir da nossa estrutura.</p>
        <p class="p-2 border-1 border-blue-500 border-round-xl my-3">Por exemplo, essa página pode ser sobre o seu sistema ou empresa!</p>
    </div>

    @for (item of getAbouts(); track $index) {

      <p-divider></p-divider>

      <div class="w-full p-2 text-center">
          <h2>{{item.label}}</h2>
          <p>{{item.tooltip}}</p>

          @for (child of item.items; track $index) {
            <div class="grid" style="margin: 2rem 0;">

              @if ($index % 2 == 0) {
                <div class="field col-4 m-auto border-1 border-gray-200 border-round-3xl">
                  <div class="p-2">
                    <h1><i [class]="child.icon + ' text-3xl'"></i></h1>
                  </div>
                </div>
                <div class="field col-7 m-auto">
                  <div class="w-full h-full">
                    <h3>{{child.label}}</h3>
                  </div>
                  <p-divider></p-divider>
                  <p>{{child.tooltip}}</p>
                </div>
              }
              @else {
                <div class="field col-7 m-auto">
                  <div class="w-full h-full">
                    <h3>{{child.label}}</h3>
                  </div>
                  <p-divider></p-divider>
                  <p>{{child.tooltip}}</p>
                </div>
                 <div class="field col-4 m-auto border-1 border-gray-200 border-round-3xl">
                  <div class="p-2">
                    <h1><i [class]="child.icon + ' text-3xl'"></i></h1>
                  </div>
                </div>
              }
            </div>
          }
      </div>

    }

</div>
