<app-header
  title="Login Auth"
  icon="pi pi-lock"
  subTitle="Bem vindo (a)"
  description="Acesse a sua conta para continuar"
></app-header>

<div class="fluid p-2">

  <div class="fluid p-2 w-10 max-w-30rem m-auto">
    <form [formGroup]="form">
      <div class="grid">
        <div class="field col-12">
          <p-floatlabel variant="over">
            <p-iconfield>
              <p-inputicon class="pi pi-user"></p-inputicon>
              <input type="text" pInputText id="email" formControlName="email" fluid>
            </p-iconfield>
            <label for="email">Email</label>
          </p-floatlabel>
        </div>
        <div class="field col-12" [hidden]="!form.get('email')?.value">
          <p-floatlabel variant="over">
            <p-iconfield>
              <p-inputicon class="pi pi-lock"></p-inputicon>
              <p-password id="password" inputId="password" formControlName="password" fluid [feedback]="false" showClear toggleMask></p-password>
            </p-iconfield>
            <label for="userName">Senha</label>
          </p-floatlabel>
        </div>
        <div class="field col-12 flex justify-content-between align-items-center text-sm">
          <div class="flex gap-2">
            <p-checkbox id="remindme" inputId="remindme" [binary]="true"></p-checkbox>
            <label for="remindme">Lembrar-me</label>
          </div>
          <div>
            <a href="#" class="no-underline text-primary">Esqueceu sua senha?</a>
          </div>
        </div>
        <div class="field col-12">
          <p-button label="Acessar" fluid size="large" severity="primary" routerLink="/home"></p-button>
        </div>
      </div>
    </form>
  </div>

  <div class="fluid w-10 max-w-30rem m-auto">
    <p-divider [align]="'center'">OU</p-divider>
  </div>

  <div class="fluid p-2 w-10 max-w-30rem m-auto">
    <p-button label="Criar conta" fluid size="large" severity="info" routerLink="/register"></p-button>
  </div>

</div>
