<div class="fluid p-2">

  <div class="-red-100 m-auto flex justify-content-center align-items-center" style="width: 10rem; height: 10rem; border-radius: 50%;">
    <h1>Logo</h1>
  </div>

  <div class="-blue-100 fluid p-2 w-10 m-auto my-4 text-center" >
    <h3>Bem vindo (a)</h3>
    <p>Acesse sua conta para continuar</p>
  </div>

  <div class="-green-100 fluid p-2 w-10 max-w-30rem m-auto">
    <form [formGroup]="form">
      <div class="grid">
        <div class="field col-12">
          <p-floatlabel variant="over">
            <p-iconfield>
              <p-inputicon class="pi pi-user"></p-inputicon>
              <input type="text" pInputText id="userName" formControlName="userName" fluid>
            </p-iconfield>
            <label for="userName">Usuário</label>
          </p-floatlabel>
        </div>
        <div class="field col-12">
          <p-floatlabel variant="over">
            <p-iconfield>
              <p-inputicon class="pi pi-lock"></p-inputicon>
              <p-password id="password" inputId="password" formControlName="password" fluid [feedback]="false" showClear toggleMask></p-password>
            </p-iconfield>
            <label for="userName">Senha</label>
          </p-floatlabel>
        </div>
        <div class="field col-12 flex justify-content-between align-items-center text-sm">
          <div class="flex gap-2">
            <p-checkbox id="remindme" inputId="remindme" [binary]="true"></p-checkbox>
            <label for="remindme">Lembrar-me</label>
          </div>
          <div>
            <a href="#" class="no-underline text-primary">Esqueceu sua senha?</a>
          </div>
        </div>
        <div class="field col-12">
          <p-button label="Acessar" fluid size="large" severity="primary"></p-button>
        </div>
      </div>
    </form>
  </div>

  <div class="-yellow-100 fluid w-10 max-w-30rem m-auto">
    <p-divider [align]="'center'">OU</p-divider>
  </div>

  <div class="-orange-100 fluid p-2 w-10 max-w-30rem m-auto">
    <p-button label="Criar conta" fluid size="large" severity="info" routerLink="/register"></p-button>
  </div>


</div>
