<p-toast key="success"></p-toast>
<p-toast key="error"></p-toast>

<div class="fluid p-2">

  <div class="fluid p-2 w-10 max-w-30rem m-auto">
    <form [formGroup]="form">
      <div class="grid">
        <div class="field col-12">
          <p-floatlabel variant="over">
            <p-iconfield>
              <p-inputicon class="pi pi-user"></p-inputicon>
              <input type="text" pInputText id="fullName" formControlName="fullName" fluid>
            </p-iconfield>
            <label for="fullName">Nome completo</label>
          </p-floatlabel>
        </div>
        <div class="field col-12">
          <p-floatlabel variant="over">
            <p-iconfield>
              <p-inputicon class="pi pi-at"></p-inputicon>
              <input type="text" pInputText id="email" formControlName="email" fluid>
            </p-iconfield>
            <label for="email">E-mail</label>
          </p-floatlabel>
        </div>
        <div class="field col-12">
          <p-floatlabel variant="over">
            <p-iconfield>
              <p-inputicon class="pi pi-tag"></p-inputicon>
              <input type="text" pInputText id="userName" formControlName="userName" fluid>
            </p-iconfield>
            <label for="userName">Nome de usuário</label>
          </p-floatlabel>
          @if (hasUsernameError()) {
            <small style="color: red;">Nome de usuário inválido.<br>Apenas letras, números e espaços</small>
          }
        </div>
        <div class="field col-12">
          <p-floatlabel variant="over">
            <p-iconfield>
              <p-inputicon class="pi pi-lock"></p-inputicon>
              <p-password id="password" inputId="password" formControlName="password" fluid showClear toggleMask weakLabel="Senha fraca" promptLabel="Digite sua senha" mediumLabel="Senha média" strongLabel="Senha forte">
                <ng-template #header>
                  Segurança da senha
                </ng-template>
                <ng-template #footer>
                  <p-divider></p-divider>
                  <ul class="pl-2 my-0 leading-normal text-sm">
                    <li>Mínimo de 8 digitos</li>
                  </ul>
                </ng-template>
              </p-password>
            </p-iconfield>
            <label for="password">Senha</label>
          </p-floatlabel>
        </div>
        <div class="field col-12">
          <p-floatlabel variant="over">
            <p-iconfield>
              <p-inputicon class="pi pi-lock"></p-inputicon>
              <p-password id="confirmPassword" inputId="confirmPassword" formControlName="confirmPassword" fluid [feedback]="false" showClear toggleMask [invalid]="form.getError(this.fieldsMismatch)"></p-password>
            </p-iconfield>
            <label for="confirmPassword">Confirmar senha</label>
          </p-floatlabel>
          @if (form.getError(this.fieldsMismatch)){
            <small style="color: red; margin: 5px;">As senhas não conferem</small>
          }
        </div>
        <div class="field col-12 flex justify-content-between align-items-center text-sm">
          <div class="flex gap-2">
            <p-checkbox id="terms" inputId="terms" formControlName="acceptTerms" [binary]="true"></p-checkbox>
            <label for="terms">Li e aceito os <a href="#" class="no-underline text-primary">Termos de Uso</a> e <a href="#" class="no-underline text-primary">Política de Privacidade</a></label>
          </div>
        </div>
        <div class="field col-12">
          <p-button label="Cadastrar" fluid size="large" severity="primary" routerLink="/home" (onClick)="register()" [disabled]="!canRegister()"></p-button>
        </div>
      </div>
    </form>
  </div>

  <div class="fluid w-10 max-w-30rem m-auto">
    <p-divider [align]="'center'">OU</p-divider>
  </div>

  <div class="fluid p-2 w-10 max-w-30rem m-auto">
    <p-button label="Já tenho uma conta" fluid size="large" routerLink="/login" severity="info"></p-button>
  </div>

</div>
