<div class="fluid p-2">

  <div class="w-full flex justify-content-between align-items-center">
    <div>
      <i class="pi pi-lock"></i>
    </div>

    <div class="block md:hidden">
      <p-button variant="text" icon="pi pi-bars" severity="contrast" size="small" (onClick)="onExpandOrCollapseRoot()"></p-button>
    </div>


    <div>
      <p-avatar class="pi pi-user cursor-pointer" shape="circle"></p-avatar>
    </div>
  </div>

  @if (expanded) {
    <div class="w-full p-2 my-2">
      @for (item of items; track $index) {
        <p-button variant="text" [label]="item.label" severity="contrast" [icon]="item.icon" fluid (onClick)="onExpandOrCollapseChild(item)"></p-button>

        <p-divider></p-divider>

        @if (item.expanded) {
          <div class="w-full p-2">
            @if (!item.items?.length) {
              <p-button variant="text" label="Nenhum acesso rápido foi implementado" severity="contrast" fluid></p-button>
            }

            @for (child of item.items; track $index) {
              <p-button variant="text" [label]="child.label" severity="contrast" [icon]="child.icon" fluid></p-button>

              <p-divider></p-divider>
            }
          </div>
        }

      }
    </div>
  }
</div>

@if (!expanded) {
  <p-divider></p-divider>
}
